@page
@model TaskRazor.Pages.TaskManagerModel
@{
    ViewData["Title"] = "Task Manager";
}

<h1>Task Manager</h1>
<ul>
    <li><a href="https://localhost:7180/Create">Create Task</a></li>
    <li><a href="https://localhost:7180/">View Tasks</a></li>
    
    
</ul>